.cu
{
    background-color: #ff4242;
    color: #f4fad2;
    background-color: #d4ee5e;
    background-color: #e1edb9;
    background-color: #f0f2eb;
}

.cu2
{color:  #bbd4f8 ;
background-color: #ccdffa;
background-color:  #ddeafc;
color:  #eef4fd ;
color: #ffffff ;}

